
<body>
  <h1>ようこそBookersへ！</h1>
<ul>
  <li>
    <p><strong>Bookers</strong>では、さまざまな書籍に関するあなたの意見や</p>
  </li>
  <li>
    <p>印象を共有し交換することができます</p>
  </li>
  <li>
    <p><a href="/books">start</a></p>
  </li>
</ul>
</body>
