/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 body {
   margin: 30px;
 }

 a {
   color: black;
 }
 
 a:hover {
     background-color: black;
     color: white;
 }
 
 h2 {
   margin-bottom: 10px;
 }
 
 h5 {
   font-weight: normal;
 }
 
 
  /*共通クラス*/
 
 .label-title {
   margin-bottom: 10px;
 }
 
 .label-body {
   margin-bottom: 10px;
 }
 
.form-buttom {
    padding-bottom: 10px;
}
 
 
 /*トップページ*/
 
 li {
   list-style: none;
 }
 
 .top-title {
   margin: 25px 0;
 }

 .top-text {
   font-size: 13px;
   line-height: 60px;
   margin: 0 30px;
 }
 
 
 /*一覧ページ*/
 
 .th-1 {
     width: 200px;
 }
 
 .th-2 {
     width: 380px;
 }
 
 table {
     border-spacing: 10px;
 }
 
 
 /*詳細ページ*/
 
 .show-text {
     padding: 10px;
 }
 
 .show-text-bottom {
     margin-bottom: 10px;
 }
 
 
 /*フラッシュメッセージ*/
 
 .flash-message {
     color: green;
 }